body{
    background: #fefefe;
    width:100%
}
.paper{
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 4px -3px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 4px -3px rgba(0,0,0,0.36);
    box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.36);
}

.margin-10{ margin:10px }
.margin-bottom-5{ margin-bottom: 5px }
.margin-bottom-10{ margin-bottom: 10px }
.margin-top-5{ margin-top: 5px }
.margin-top-10{ margin-top: 10px }

.padding-5{ padding: 5px }
.padding-top-5{ padding-top: 5px }
.padding-bottom-5{ padding-bottom: 5px }

.padding-10{ padding: 10px }
.padding-top-10{ padding: 10px }
.padding-bottom-10{ padding-bottom: 10px }




/******************************************************************/
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(250,0,0,1);
    border-radius: 3px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

/*****************************************************************/

th{ text-align: center; }
td {
    border: 1px solid lightgrey;
    border-collapse: collapse;
    text-align: center;
}